syntax: glob
application/config/config.php
application/config/database.php
application/config/email.php
nbproject
uploads/datos
uploads/documentos
uploads/firmas
uploads/logos
uploads/logos_certificados
uploads/timbres
uploads/timbres
uploads/wsdl
application/logs
application/libraries/tcpdf/cache
sphinx/index
sphinx/run
sphinx.conf
searchd.log
.idea
composer.lock
composer.phar
vendor
.DS_Store
logs
application/logs/log-*.php
wsdl
.wsdl
.sonar/
sonar-project.properties
