header {
  box-shadow: 0 0 1px rgba(0,0,0,.07),0 1px 2px rgba(0,0,0,.08);
}

/*HOME*/
.ajaxForm .ajaxLoader {
  width: 80px;
  height: 24px;
  background: #000000 url("../img/ajax-loader.gif") 25px 16px no-repeat;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding-top: 56px;
}

.imgNoIcon {
  width: 10%;
  height: 10%;
}

.body_simple{
  width: 75%;
}
.search-query {
  height: 45px !important;
}
h2 {
  font-size: 25px;
}
footer {
  margin-bottom: 0px;
}
/*HOME*/

.barra-superior {
  background: #0056a8;
}

.navbar-right {
  float: right !important;
  margin-right: 0;
  margin-bottom: 10px;
}

.navbar-brand {
  height: auto;
}

.navbar-header {
  width: 100%;
}

body {
  background-color: #f8f8f8;
  /*background-color: #fff;*/
}

.tarjeta .banda-bicolor {
  margin: -20px -20px 20px 100px;
  height: 6px;
}

#simple-destacados .section-header {
  margin-top: 40px;
}

#simple-destacados .tarjeta h4 {
  margin-top: 10px;
}

.navbar-header h1 {
  font-size: 1.2em;
  margin:18px 0 0 0;
}

/* FOOTER */
footer.footer-gobcl .top .listas .lista {
  padding: 5px 35px 0px;
}

footer.footer-gobcl .top {
  padding: 15px 0 0;
}

footer.footer-gobcl .bottom {
  margin: 0px 20px;
}

.titleComuna {
  font-size: 1.4em;
  display: block;
  float: left;
}

.titleComuna p {
  font-size: 0.8em;
}

span.title {
  font-family: gobCL,Tahoma,Verdana,Segoe,sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #000;
}

#simple-categorias .tarjeta p {
  font-family: gobCL,Tahoma,Verdana,Segoe,sans-serif;
  font-size: 16px;
  color: #000;
}

.tarjeta:hover {
  content: "";
  transition: border-width 0.1s ease-in-out;
  border-bottom: 2px solid #1978B9;
  background: #f7f7f7;
}

#footer .footer-ribbon:before {
  border-right-color: #005580;
}

footer.footer-gobcl .bottom .banda-bicolor {
  margin: 0px;
}
/* FOOTER */

.barra-superior .navbar-nav>li>a {
  border-bottom: 0px;
  color: #fff;
  height: 30px;
  padding-top: 5px;
  text-shadow: 0px;
  border-right: 1px solid #01417d;
}

.barra-superior .navbar-nav>li>a:hover,
.barra-superior .navbar-nav>li>a.active {
  background-color: #01417d;
}

header#sticker {
  z-index: 99 !important;
}

.is-sticky header {
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15); 
}

header .container {
  position: relative;
  height: 100%;
}

header .banda-bicolor {
  height: 10px;
  left: 15px;
  position: absolute;
  top: 0px;
  width: 15%;
}

header.navbar {
  margin-bottom: 0px;
}

header .navbar-nav {
  margin-bottom: 0px;
}

header .navbar-nav > li > a {
  height: 90px;
  border-bottom: 0px;
  font-size: 1.2em;
  padding: 35px 10px 0 10px;
}

.navbar-nav>li:last-of-type a {
  border-right: 1px solid #e6e6e6;
}

header .navbar-nav > li:first-child a {
  border-left: 1px solid #e6e6e6;
}

header .btn-group .btn.boton-header {
  padding: 10px;
  margin-top: 27px;
  margin-left: 15px;
  font-size: 0.9em;
}

.menu {
  margin-top: 88px;
}

#userMenu {
  padding: 0px;
  margin-top: 27px;
  margin-left: 15px;
  font-size: 0.9em;
}

#userMenu li>a:hover {
  background: #135b8c;
}

#userMenu li>a {
  color: #fff;
  background: #1978b9;
  border-bottom: 2px solid #135b8c;
}

#simple-destacados .circulo {
  width: 60px;
  height: 60px;
  padding: 0px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid silver;
  color: white;
  background-color: #1978B9;
  font-size: 40px;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row:before {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.item, .item>a {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.col-sm-12 #simple-destacados .item {
  width: 33.3%;
}

.col-sm-9 #simple-destacados .item {
  width: 50%;
}

.col-sm-12 .col-md-3 {
  width: 25%;
}

.col-sm-9 .col-md-3 {
  width: 33.3%;
}


#simple-destacados .tarjeta {
  width: 100%;
  min-height: 170px;
  text-align: left;
  padding: 30px 20px 60px 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.btn_derecha {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.btn {
  -webkit-border-radius: 2 !important;
  -moz-border-radius: 2 !important;
  border-radius: 2px !important;
  font-family: gobCL, Arial !important;
  color: #ffffff !important;
  font-size: 15px !important;
  background: #0067ab !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none !important;
}

.btn:hover {
  background: #0086d4 !important;
  text-decoration: none !important;
}

#simple-categorias .tarjeta {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  width: 100%;
}

#simple-categorias .tarjeta p {
  margin: 10px 0 5px 0;
}

#simple-categorias a {
  width: 100%;
}

#simple-categorias .circulo {
  width: 30px;
  height: 30px;
  padding: 0px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid silver;
  color: white;
  background-color: #1978B9;
  font-size: 20px;
}

.centrado {
  text-align: center;
  margin: 10px auto;
}

/* MODIFICAR DATOS PERSONALES CLAVEUNICA*/
@font-face {
  font-family: 'gobCL';
  src: url('../fonts/gobcl_bold.eot');
  src: url('../fonts/gobcl_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/gobcl_bold.woff') format('woff'), url('../fonts/gobcl_bold.ttf') format('truetype'), url('../fonts/gobcl_bold.svg#gobCLBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'gobCL';
  src: url('../fonts/gobcl_light.eot');
  src: url('../fonts/gobcl_light.eot?#iefix') format('embedded-opentype'), url('../fonts/gobcl_light.woff') format('woff'), url('../fonts/gobcl_light.ttf') format('truetype'), url('../fonts/gobcl_light.svg#gobCLLight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'gobCL';
  src: url('../fonts/gobcl_regular.eot');
  src: url('../fonts/gobcl_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/gobcl_regular.woff') format('woff'), url('../fonts/gobcl_regular.ttf') format('truetype'), url('../fonts/gobcl_regular.svg#gobCLRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sidebar-nav .navbar ul, .sidebar-nav .navbar li {
  float: left;
  width: 100%;
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  width: 300px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.navbar .dropdown-menu {
  width: 300px;
  max-width: initial;
}

.ajaxForm {
  position: relative;
}

.ajaxForm .ajaxLoader {
  width: 80px;
  height: 24px;
  background: #000000 url("../img/ajax-loader.gif") 25px 16px no-repeat;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding-top: 56px;
}

.ajaxForm2 .ajaxLoader {
  width: 80px;
  height: 24px;
  background: #000000 url("../img/ajax-loader.gif") 25px 16px no-repeat;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding-top: 56px;
}

.ajaxForm2 .select2-container--default .select2-selection--multiple .select2-selection__rendered {
  list-style: none;
  margin: 0;
  padding: 0 0px;
  width: 100%;
}
.ajaxForm2 td {
  padding-right: 8px;
}
.ajaxForm2 .select2-container--default .select2-search--inline .select2-search__field {
  margin-top: 0px;
  margin-bottom: 0px;
}
.ajaxForm2 .select2-container--default .select2-selection--multiple {
  margin-top: -7px;
  min-height: 28px;
  height: 28px;
}
.ajaxForm2 .select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 3px;
}

.logo {
  width: 126px;
  margin: 16px 20px 0 5px;
  float: left;
}

.olvido {
  font-size: 11px;
}

#loginView label {
  float: left;
}

#loginView .simple .wrapper {
  padding: 20px 20px 0 20px;
}

#loginView .claveunica {
  background: #E1ECF6;
  height: 70px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

#loginView input {
  width: 100%;
  height: 35px;
  margin-bottom: 5px;
}

#loginView .claveunica .wrapper {
  padding: 20px;
  margin-top:10px;
}

#loginView .claveunica .wrapper p {
  float: left;
  line-height: 30px;
}

#loginView .claveunica .wrapper a {
  float: right;
}

.banda-bicolor:after {
  background: #dd5347;
}

.img-service {
  width: 50px;
  height: 50px;
}

.img-categories {
  width: 32px;
  height: 32px;
}

/*nuevo*/

.tarjeta > .text-left {
  float: left;
  margin-right: 10px;
}

.section-header {
  text-align: left;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.section-header h2 {
  float: left;
  margin-right: 10px;
}

.line {
  overflow: hidden;
  height: 35px;
  border-bottom: 1px solid #f2f2f4;
  box-shadow: 0px 1px 0px white;
}

@media (max-width: 1020px) {

  .section-header {
    margin-top: 50px;
  }

  .navbar-right {
    margin:0 0 15px 0;
    width: 100%;
  }

  .navbar-right .btn-group {
    float: right;
  }

  #userMenu {
    padding: 0px;
    margin: 0px;
    text-align: right;
  }

  .col-sm-9 #simple-destacados .item {
    width: 100%;
  }

  .col-sm-12 #simple-destacados .item {
    width: 50%;
  }

  .col-sm-12 .col-md-3 {
    width: 33.3%;
  }

  .col-sm-9 .col-md-3 {
    width: 50%;
  }
}

@media (max-width: 741px) {

  .navbar-header h1 {
    font-size: 1em;
  }

  .titleComuna p {
    font-size: 0.6em;
    margin: 0px;
  }

  .logo {
    width: 100px;
    margin: 6px 6px 0 0;
  }

  .navbar-header h1 {
    margin: 2px 0px;
  }

  .navbar-brand {
    padding: 12px 6px 2px 6px;
  }

  .navbar-right {
    margin: 0 0 8px 0;
    width: 100%;
  }

  .col-sm-9 #simple-destacados .item {
    width: 100%;
  }

  .col-sm-12 #simple-destacados .item {
    width: 100%;
  }

  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }

  .sidebar-nav .navbar ul {
    float: left;
    width: 100%;
  }

  .sidebar-nav .navbar ul:not {
    display: block;
  }

  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }

  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .menu {
    margin-top: 20px;
  }

  .col-sm-12 #simple-destacados .section-header {
    margin-top: 0px;
  }

  .col-sm-9 #simple-destacados .section-header {
    margin-top: 0px;
  }

  .col-sm-12 .col-md-3 {
    width: 50%;
  }

  .col-sm-9 .col-md-3 {
    width: 50%;
  }
}