@import "bootstrap/mixins.less";

header{
    margin-bottom: 20px;
    h1{
        float: left;
    }
    #userMenu{
        float: right;
    }
    #menu{
        float: right;
    }
}

.ajaxForm{
    position: relative;
    .ajaxLoader{
        width: 80px;
        height: 24px;
        background: #000 url("../img/ajax-loader.gif") 25px 16px no-repeat;
        color: #fff;
        .border-radius(5px);
        position: absolute;
        text-align: center;
        padding-top: 56px;
    }
}
