.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
header {
  height: 120px;
  position: relative;
}
header h1 {
  position: absolute;
  top: 10px;
  left: 10px;
}
header #userMenu {
  position: absolute;
  top: 10px;
  right: 10px;
}
header #menu {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.ajaxForm {
  position: relative;
}
.ajaxForm .ajaxLoader {
  width: 80px;
  height: 24px;
  background: #000000 url("../img/ajax-loader.gif") 25px 16px no-repeat;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  text-align: center;
  padding-top: 56px;
}
