.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#dashboard .widget {
  position: relative;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
}
#dashboard .widget .front,
#dashboard .widget .back {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#dashboard .widget .front .contenido,
#dashboard .widget .back .contenido {
  margin: 10px;
}
#dashboard .widget .front {
  background: #fff;
  transform: rotatey(0deg);
  -webkit-transform: rotatey(0deg);
  -moz-transform: rotatey(0deg);
  -o-transform: rotatey(0deg);
  -ms-transform: rotatey(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 900;
}
#dashboard .widget .front .config {
  position: absolute;
  top: 10px;
  right: 10px;
}
#dashboard .widget .back {
  background: #ccc;
  transform: rotatey(-180deg);
  -webkit-transform: rotatey(-180deg);
  -moz-transform: rotatey(-180deg);
  -o-transform: rotatey(-180deg);
  -ms-transform: rotatey(-180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 800;
}
#dashboard .widget .back .volver {
  position: absolute;
  top: 10px;
  right: 10px;
}
#dashboard .widget.flip .front {
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 900;
}
#dashboard .widget.flip .back {
  transform: rotatey(0deg);
  -webkit-transform: rotatey(0deg);
  -moz-transform: rotatey(0deg);
  -o-transform: rotatey(0deg);
  -ms-transform: rotatey(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 1000;
}
